<% include ../partials/css.ejs %>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="footer">
  Designed and built by <a class="footer-link" href="https://www.youtube.com/watch?v=vRjObi44o4A">A &amp; C Romance Factory</a> (with inspiration from The Knot and Minted)
</div>
