<title>Chris & Alicia |
  <% if (page == '/our-story') { %>
      Our Story
  <% } else if (page == '/our-photos') { %>
      Our Photos
  <% } else if (page == '/accommodations') { %>
      Accommodations
  <% } else if (page == '/rsvp') { %>
      RSVP
  <% } else { %>
       I love you and I like you.
  <% } %>
</title>


<link rel="shortcut icon" href="http://res.cloudinary.com/huttle/image/upload/v1513959668/favicon_yy0ufa.ico" type="image/x-icon">
<link rel="icon" href="http://res.cloudinary.com/huttle/image/upload/v1513959668/favicon_yy0ufa.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
<meta name="viewport" content="width=device-width" />
<meta property="og:url"                content="http://www.chrisandalicia.us" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Chris and Alicia | I love you and I like you." />
<meta property="og:description"        content="&quot;We could just say screw it and do this thing for real. I miss you like crazy. I think about you all the time. I want to be with you. So let’s just say screw it. I know how I feel and I want to be with you.&quot; - Leslie Knope" />
<meta property="og:image"              content="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-86695829-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-86695829-1');
</script>
