<nav class="navbar-wedding" id="#weddingNav" data-spy="affix" data-offset-top="136">
  <div class="container">
    <div class="nav navbar-nav flex nav-bar-desktop">
      <div class="nav-item">
        <a class="nav-item" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </div>
      <div class="nav-item">
        <a class="nav-item" href="/#wedding-event-container">
          <span class="glyphicon glyphicon-heart"></span>
          Our Wedding
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-item" href="/our-story">
          <span class="glyphicon glyphicon-book"></span>
          Our Story
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-item" href="https://www.zola.com/registry/ctandap">
          <span class="glyphicon glyphicon-gift"></span>
        Our Registry
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-item" href="/accomodations">
          <span class="glyphicon glyphicon-bed"></span>
          Accomodations
        </a>
      </div>
      <div  class="nav-item">
        <a class="nav-item" href="/rsvp">
          <span class="glyphicon glyphicon-pencil"></span>
          RSVP
        </a>
      </div>
    </div>
    <div class="nav-bar-mobile">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="glyphicon glyphicon-menu-hamburger mobile-home"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="nav-item" href="/">Home</a></li>
          <li><a class="nav-item" href="/#wedding-event-container">Our Wedding</a></li>
          <li><a class="nav-item" href="/our-story">Our Story</a></li>
          <li><a class="nav-item" href="https://www.zola.com/registry/ctandap">Our Registry</a></li>
          <li><a class="nav-item" href="/accomodations">Accomodations</a></li>
          <li><a class="nav-item no-border-bottom" href="/rsvp">RSVP</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>
