<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="nav navbar-nav">
      <div class="nav-home">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        <a href="#">
          <span class="glyphicon glyphicon-heart"></span>
          Our Wedding
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-book"></span>
          Details
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-gift"></span>
        Registry
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-pencil"></span>
          RSVP
        </a>
      </div>
    </div>
  </div>
</nav>
