<nav class="navbar-wedding">
  <div class="container">
    <div class="nav navbar-nav flex nav-bar-desktop">
      <div class="nav-item">
        <a class="nav-item" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </div>
      <div class="nav-item">
        <a class="nav-item" href="/#wedding-event-container">
          <span class="glyphicon glyphicon-heart"></span>
          Our Wedding
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-item" href="/our-story">
          <span class="glyphicon glyphicon-book"></span>
          Our Story
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-item" href="https://www.zola.com/registry/ctandap">
          <span class="glyphicon glyphicon-gift"></span>
        Our Registry
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-item" href="/accomodations">
          <span class="glyphicon glyphicon-book"></span>
          Accomodations
        </a>
      </div>
      <div  class="nav-item">
        <a class="nav-item" href="/rsvp">
          <span class="glyphicon glyphicon-pencil"></span>
          RSVP
        </a>
      </div>
    </div>
    <div class="nav-bar-mobile">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </div>
</nav>
