<div class="col-sm-4">
  <div class="photos-image-container">
    <div class="photos-cover-image" style=" background: #FFF;">
        <img class="cover-image-item" src="<%= photoFile %>">
    </div>
    <div class="photos-title-container">
      <h1 class="photos-item-title"><%= photoHeadline %></h1>
    </div>
  </div>
</div>
