<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/accommodations-css.ejs %>

</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <h1 id="accommodations-title">Accommodations</h1>
    <div class="spacer"></div>

    <!--Bardessono-->
    <div class="accommodations-item-container">
      <div class="accommodations-item">
        <div class="accomidations-item-image-container">
            <a href="https://bardessono.com/"><img class="accommodations-item-image" src="https://res.cloudinary.com/simpleview/image/upload/crm/napavalley/Bardessono-Entrace-2_D0739B83-8557-4B5B-9D27BF58C1D07859_c456abe5-c842-43ee-825b49041d20df0c.jpg"></a>
        </div>
        <div class="accommodations-item-copy">
          <div class="accommodations-item-name">
            <a class="accommodations-link" href="https://bardessono.com/">Bardessono</a>
          </div>
          <div class="accommodations-item-info">
            6526 Yount St, Yountville, CA
            <br /><br />
            Please call (707) 204-6000 and mention the Tung/Prodromou Wedding when making your reservation.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <!-- Double Tree -->
    <div class="accommodations-item-container">
      <div class="accommodations-item">
        <div class="accomidations-item-image-container">
            <a href="https://doubletree.hiltonwifi.com/OAKACDT_conf/"><img class="accommodations-item-image" src="http://doubletree3.hilton.com/resources/media/dt/OAKACDT/en_US/img/shared/full_page_image_gallery/main/DT_hotelexterior_2_677x380_FitToBoxSmallDimension_Center.jpg"></a>
        </div>
        <div class="accommodations-item-copy">
          <div class="accommodations-item-name">
             <a class="accommodations-link" href="https://doubletree.hiltonwifi.com/OAKACDT_conf/">
               The DoubleTree by Hilton in American Canyon</a>
          </div>
          <div class="accommodations-item-info">
            3600 Broadway St, American Canyon, CA
            <br /><br />
            Please call (707) 674-2100 and mention the Tung/Prodromou Wedding when making your reservation.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <!-- Embassy -->
    <div class="accommodations-item-container">
      <div class="accommodations-item">
        <div class="accomidations-item-image-container">
            <a href="https://embassysuites.hiltonwifi.com/NAPVLES_conf/"><img class="accommodations-item-image" src="http://embassysuites3.hilton.com/resources/media/es/NAPVLES/en_US/img/shared/full_page_image_gallery/main/ES_extevening1ql_712x342_FitToBoxSmallDimension_LowerCenter.jpg"></a>
        </div>
        <div class="accommodations-item-copy">
          <div class="accommodations-item-name">
            <a class="accommodations-link" href="https://embassysuites.hiltonwifi.com/NAPVLES_conf/">Embassy Suites Napa Valley</a>
          </div>
          <div class="accommodations-item-info">
            1075 California Blvd, Napa, CA 94559
            <br /><br />
            Please call (707) 253-9540 and mention the Tung/Prodromou Wedding when making your reservation.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
  <% include ../partials/footer.ejs %>

</div>
</body>
</html>
