<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/details-css.ejs %>
</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <h1 id="details-title">Accomodations</h1>
    </div>
    <div class="container our-story-container">
      <div class="col-sm-12 item-1">
        <div class="our-story-image-container">
          <div id="cover-image">
              <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513916388/ct-ap-combined_kxq1ik.jpg">
          </div>
        </div>
        <div class="aligner">
          <div>
            Hotel #1
          </div>
          <div class="aligner-item">
            This is a very good hotel
          </div>
        </div>
      </div>
    </div>

</div>
</body>
</html>
