<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/details-css.ejs %>
</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <div id="cover-image">
          <img class="cover-image-item" src="http://gif-finder.com/wp-content/uploads/2014/09/AwwJeez.gif">
      </div>
      <div id="title-container">
        <h2 id="wedding-date-location">
          Whoops! This page doesn't exist. Use the links above to get back on track.
        </h2>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>

</div>
</body>
</html>
