<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <div id="cover-image">
          <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
      </div>
      <div id="title-container">
        <h1 id="wedding-title">Alicia and Christopher</h1>
        <h2 id="wedding-date-location">
          8.11.18  •  Yountville, CA
        </h2>
      </div>
    </div>
    <div id="wedding-event-container">
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-title">The Wedding</div>
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-subtitle">The Ceremony</div><br />
      <div class="cover-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="https://res.cloudinary.com/simpleview/image/upload/crm/napavalley/Bardessono-Entrace-2_D0739B83-8557-4B5B-9D27BF58C1D07859_c456abe5-c842-43ee-825b49041d20df0c.jpg">
        </div>
        <div id="title-container">
          <a class="ceremony-link" href="https://goo.gl/maps/d57KNNuowax">
            <div id="ceremony-reception-title" class="ceremony-item">Bardessono</div>
          <br />
          <div id="ceremony-reception-location" class="ceremony-item">6526 Yount St, Yountville, CA</div>
          </a>
        </div>
      </div>
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-subtitle">Reception</div><br />
      <div class="cover-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="https://www.thomaskeller.com/sites/default/files/media/franchises/interior_exterior_images/tk.com_adhoc_addendum10.29.jpg">
        </div>
        <div id="title-container">
          <a class="ceremony-link" href="https://goo.gl/maps/d57KNNuowax">
            <div id="ceremony-reception-title" class="reception-item">Addendum</div>
          <br />
          <div id="ceremony-reception-location" class="reception-item">6476 Washington Street, (behind Ad Hoc), Yountville, CA</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
