<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/accommodations-css.ejs %>
</head>

<body>

<div class="wedding-background-lights text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="cover-image-container">
    <div id="cover-image">
        <img class="cover-image-item homepage" src="images/hero-square.jpg">
    </div>
    <div id="title-container">
      <h1 id="wedding-title">Alicia and Christopher</h1>
      <h2 id="wedding-date-location">
        8.11.18  •  Yountville, CA
        <br />&nbsp;
      </h2>
      <a href="/rsvp">
        <button>
          RSVP
        </button>
      </a>
    </div>
  </div>
  <div id="wedding-event-container">
    <div class="wedding-event-section-title-border"></div>
    <div class="wedding-event-section-title">The Wedding</div>
    <div class="wedding-event-section-title-border"></div>
    <div class="wedding-event-section-subtitle">The Ceremony</div><br />
    <div class="cover-image-container">
      <div id="cover-image">
          <img class="cover-image-item" src="https://res.cloudinary.com/simpleview/image/upload/crm/napavalley/Bardessono-Entrace-2_D0739B83-8557-4B5B-9D27BF58C1D07859_c456abe5-c842-43ee-825b49041d20df0c.jpg">
      </div>
      <div id="title-container">
        <a class="ceremony-link" href="https://goo.gl/maps/d57KNNuowax">
          <div id="ceremony-reception-title" class="reception-item">Bardessono</div>
        <div id="ceremony-reception-location" class="reception-item">6526 Yount St, Yountville, CA</div>
        </a>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="wedding-event-section-title-border"></div>
    <div class="wedding-event-section-subtitle">Reception</div><br />
    <div class="cover-image-container">
      <div id="cover-image">
          <img class="cover-image-item" src="https://www.thomaskeller.com/sites/default/files/media/franchises/interior_exterior_images/tk.com_adhoc_addendum10.29.jpg">
      </div>
      <div id="title-container">
        <a class="ceremony-link" href="https://goo.gl/maps/d57KNNuowax">
          <div id="ceremony-reception-title" class="reception-item">Addendum</div>
        <div id="ceremony-reception-location" class="reception-item">6476 Washington Street, behind Ad Hoc, Yountville, CA</div>
        </a>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div id="wedding-event-container">
    <div class="wedding-event-section-title-border"></div>
    <div class="wedding-event-section-title">You Might Be Wondering...</div>
    <div class="wedding-event-section-title-border"></div>
    <!--Question 0-->
    <div class="faq-item-container">
      <div class="faq-item">
        <!--
        <div class="accomidations-item-image-container">
          <i class="fas fa-car accomdoations-item-icon"></i>
        </div>
      -->
        <div class="faq-item-copy">
          <div class="faq-item-name">
            How do I get to the venue and when does it start?
          </div>
          <div class="faq-item-info">
            Yountville is a 15 minute drive north of Napa and an hour and a half drive from SFO with no traffic. However, because it's the summer, we estimate there will be some traffic so plan accordingly. The ceremony at <a href="https://goo.gl/maps/d57KNNuowax">Bardessono</a> will begin at 4:30pm.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <!--Question 1-->
    <div class="faq-item-container">
      <div class="faq-item">
        <!-- <div class="accomidations-item-image-container">
            <img class="faq-item-image" src="http://www.clker.com/cliparts/9/0/6/6/136637321352943983dress.svg.hi.png">
        </div>
      -->
        <div class="faq-item-copy">
          <div class="faq-item-name">
            What should I wear?
          </div>
          <div class="faq-item-info">
            Cocktail attire. Please keep in mind it can be warm in Napa, and since the reception is outdoors, we recommend lighter fabrics and comfortable shoes.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <!--Question 2-->
    <div class="faq-item-container">
      <div class="faq-item">
        <!-- <div class="accomidations-item-image-container">
            <img class="faq-item-image" src="">
        </div>
      -->
        <div class="faq-item-copy">
          <div class="faq-item-name">
            Who can I bring?
          </div>
          <div class="faq-item-info">
            Please only arrive with the number of people listed on your invitation.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <!--Question 4-->
    <div class="faq-item-container">
      <div class="faq-item">
        <!--<div class="accomidations-item-image-container">
            <img class="faq-item-image" src="">
        </div>
      -->
        <div class="faq-item-copy">
          <div class="faq-item-name">
            Can I take pictures/snaps/instagrams of the wedding?
          </div>
          <div class="faq-item-info">
            During the ceremony, we ask that you limit the number of photos you take so that our photographer can capture this special day, but at the reception, go wild!
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <!--Question 5-->
    <div class="faq-item-container">
      <div class="faq-item">
        <!--
        <div class="accomidations-item-image-container">
            <img class="faq-item-image" src="">
        </div>
      -->
        <div class="faq-item-copy">
          <div class="faq-item-name">
            Where should I stay?
          </div>
          <div class="faq-item-info">
            We've provided a few suggested accommodations <a href="/accommodations">here</a>, but feel free to stay anywhere in the Bay Area.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <!--Question 6-->
    <div class="faq-item-container">
      <div class="faq-item">
        <!--
        <div class="accomidations-item-image-container">
            <img class="faq-item-image" src="">
        </div>
      -->
        <div class="faq-item-copy">
          <div class="faq-item-name">
            What are we eating and drinking?
          </div>
          <div class="faq-item-info">
            We picked Addendum partly for its beautiful garden but mostly for its famous fried chicken. We'll have stations of fried chicken, pizza, an ice cream bar for dessert, and an open bar to get the party started and to keep it going.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <!--Question 7-->
    <div class="faq-item-container">
      <div class="faq-item">
        <!--
        <div class="accomidations-item-image-container">
            <img class="faq-item-image" src="">
        </div>
      -->
        <div class="faq-item-copy">
          <div class="faq-item-name">
            When are the festivities over?
          </div>
          <div class="faq-item-info">
            Though we wish the party would never stop, Yountville quiet hours start at 10pm.
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
</div>
</body>
</html>
