<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/accomodations-css.ejs %>
</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <div id="cover-image">
          <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
      </div>
      <div id="title-container">
        <h1 id="wedding-title">Alicia and Christopher</h1>
        <h2 id="wedding-date-location">
          8.11.18  •  Yountville, CA
        </h2>
      </div>
    </div>
    <div id="wedding-event-container">
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-title">The Wedding</div>
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-subtitle">The Ceremony</div><br />
      <div class="cover-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="https://res.cloudinary.com/simpleview/image/upload/crm/napavalley/Bardessono-Entrace-2_D0739B83-8557-4B5B-9D27BF58C1D07859_c456abe5-c842-43ee-825b49041d20df0c.jpg">
        </div>
        <div id="title-container">
          <a class="ceremony-link" href="https://goo.gl/maps/d57KNNuowax">
            <div id="ceremony-reception-title" class="ceremony-item">Bardessono</div>
          <br />
          <div id="ceremony-reception-location" class="ceremony-item">6526 Yount St, Yountville, CA</div>
          </a>
        </div>
      </div>
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-subtitle">Reception</div><br />
      <div class="cover-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="https://www.thomaskeller.com/sites/default/files/media/franchises/interior_exterior_images/tk.com_adhoc_addendum10.29.jpg">
        </div>
        <div id="title-container">
          <a class="ceremony-link" href="https://goo.gl/maps/d57KNNuowax">
            <div id="ceremony-reception-title" class="reception-item">Addendum</div>
          <br />
          <div id="ceremony-reception-location" class="reception-item">6476 Washington Street, behind Ad Hoc, Yountville, CA</div>
          </a>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div id="wedding-event-container">
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-title">You Might Be Wondering...</div>
      <div class="wedding-event-section-title-border"></div>
      <!--Question 0-->
      <div class="accomodations-item-container">
        <div class="accomodations-item">
          <!--
          <div class="accomidations-item-image-container">
            <i class="fas fa-car accomdoations-item-icon"></i>
          </div>
        -->
          <div class="accomodations-item-copy">
            <div class="accomodations-item-name">
              How do I get to the venue?
            </div>
            <div class="accomodations-item-info">
              Yountville is a 15 minute drive north of Napa and an hour and a half drive from SFO.
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <!--Question 1-->
      <div class="accomodations-item-container">
        <div class="accomodations-item">
          <!-- <div class="accomidations-item-image-container">
              <img class="accomodations-item-image" src="http://www.clker.com/cliparts/9/0/6/6/136637321352943983dress.svg.hi.png">
          </div>
        -->
          <div class="accomodations-item-copy">
            <div class="accomodations-item-name">
              What should I wear?
            </div>
            <div class="accomodations-item-info">
              We recommend suits and cocktail dresses, but as August in Napa is a bit on the warmer side, we recommend lighter attire.
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <!--Question 2-->
      <div class="accomodations-item-container">
        <div class="accomodations-item">
          <!-- <div class="accomidations-item-image-container">
              <img class="accomodations-item-image" src="">
          </div>
        -->
          <div class="accomodations-item-copy">
            <div class="accomodations-item-name">
              Who can I bring?
            </div>
            <div class="accomodations-item-info">
              Please only arrive with the number of people listed on your invitation.
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <!--Question 3-->
      <div class="accomodations-item-container">
        <div class="accomodations-item">
          <!--
          <div class="accomidations-item-image-container">
              <img class="accomodations-item-image" src="">
          </div>
        -->
          <div class="accomodations-item-copy">
            <div class="accomodations-item-name">
              Should I bring a gift to the wedding?
            </div>
            <div class="accomodations-item-info">
              We will have a space setup to receive gifts at the wedding, but also check out our <a href="https://www.zola.com/registry/ctandap">Registry</a> to order a gift ahead of time.
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <!--Question 4-->
      <div class="accomodations-item-container">
        <div class="accomodations-item">
          <!--<div class="accomidations-item-image-container">
              <img class="accomodations-item-image" src="">
          </div>
        -->
          <div class="accomodations-item-copy">
            <div class="accomodations-item-name">
              Can I take pictures/snaps/instagrams of the wedding?
            </div>
            <div class="accomodations-item-info">
              During the ceremony, we ask that you limit the number of photos you take so that our photographer can capture this special day, but at the reception, go wild!
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <!--Question 5-->
      <div class="accomodations-item-container">
        <div class="accomodations-item">
          <!--
          <div class="accomidations-item-image-container">
              <img class="accomodations-item-image" src="">
          </div>
        -->
          <div class="accomodations-item-copy">
            <div class="accomodations-item-name">
              Where should I stay?
            </div>
            <div class="accomodations-item-info">
              We've provided a few suggested accomodations <a href="/accomodations">here</a>, but feel free to stay anywhere in the Bay Area.
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <!--Question 6-->
      <div class="accomodations-item-container">
        <div class="accomodations-item">
          <!--
          <div class="accomidations-item-image-container">
              <img class="accomodations-item-image" src="">
          </div>
        -->
          <div class="accomodations-item-copy">
            <div class="accomodations-item-name">
              What are we eating and drinking?
            </div>
            <div class="accomodations-item-info">
              We picked Addendum partly for its beautiful garden but mostly for its famous fried chicken. We'll have stations of fried chicken, pizza, an ice cream bar for dessert, and an open bar to get the party started and to keep it going.
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <!--Question 7-->
      <div class="accomodations-item-container">
        <div class="accomodations-item">
          <!--
          <div class="accomidations-item-image-container">
              <img class="accomodations-item-image" src="">
          </div>
        -->
          <div class="accomodations-item-copy">
            <div class="accomodations-item-name">
              When are the festitivies over?
            </div>
            <div class="accomodations-item-info">
              Though we wish the party would never stop, Yountville quiet hours start at 10pm.
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>
</body>
</html>
