<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron wedding-background text-center">
  <div class="container">
    <div class="cover-image-container">
      <div id="cover-image">
          <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
      </div>
      <div id="title-container">
        <h1 id="wedding-title">A &amp; C Romance Factory </h1>
        <h2 id="wedding-date-location">
          8.11.18  •  Yountville, CA
        </h2>
      </div>
    </div>
    <div id="wedding-event-container">
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-title">The Wedding</div>
      <div class="wedding-event-section-title-border"></div>
      <div class="wedding-event-section-title-border"></div>
      <h2>The Ceremony</h2><br />
      Bardessono
      <br />
      6526 Yount St, Yountville, CA
      <div class="wedding-event-section-title-border"></div>
      <h2>Reception</h2><br />
      Addendum
      <br />
      6476 Washington Street, (behind Ad Hoc), Yountville, CA

    </div>
    <!--
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    -->
  </div>
</div>
</body>
</html>
