<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/our-story-css.ejs %>
</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <h1 id="details-title">Our Story</h1>
  </div>
  <div class="container">
    <div class="col-md-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">More Than Coffee Brewing...</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Like &amp; Long Distance</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="././assets/nyc-photo.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">New York, I Love You</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="https://lh3.googleusercontent.com/PpuNALgCEvmy_2D40QWBuMPI66KtX4tcyqsB5ziBOg_9PW3vi9YIWJNJwSfl5-tK0unX3q_A2aiRS8fChwMSmxRr0p7QXnV54QU11x7uQwF2_tn0yARZxwTTTzv4tLunxTj3cADNsnrudXmcXGWm2iCJt6PgZHsmfmBv0VVbsp0c67a3uy-xPMTuziJ5k8ff_njDjfL6Vs-YZKmC-5B8VEUrVhafn2TX8XYGSxPrn0GF6OYIncyrC1XIwqPF9dkBUJpqt0IH82H8R3QeX1SM9G44m3lstH6tWjEOob-rUG6uuxlItMp7FeuKPwSvpPJbWqNvxCqTXPslKZV2TQ9-sXJM241Z9X0VV__E3XVyWFzqLL50JiAhod4bV4Q3G6bXXwOBTpB7OyXsth2f1FrHnzgVW9-in8ZxzwtC98WqQNnoApNJHujWmnfBVTEdgrQ0tuNOh7J1bODiwXiHiT0zeZu1e9Kik3lhOW2unxyo5g_SBKLsEob8Wqa4uWcMY3NLUSwynPC95C3efxCdDlcBtOQ2S-Nu91aA4Y7LhvyY_Eude5vKfs1Dg7SxX1peVg1TUhXN704nQ_rJmuwt4f4npIj2kWuiXv7onA1hk0w=w840-h1120-no">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Our Other Loves: Travel &amps; Food</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Engaged in the Bay</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
