<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/our-story-css.ejs %>
</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <h1 id="details-title">Our Story</h1>
  </div>
  <div class="container our-story-container">
    <div class="col-sm-6 item-1">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">More Than Coffee Brewing...</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 item-2">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/c_crop,w_861/v1513912264/IMG_50A760992107-1_ra9lhf.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Like & Long Distance</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513912024/nyc-photo_adffph.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">New York, I Love You</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513912024/rome-photo_ktp5co.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Our Other Loves: Travel & Food</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Engaged in the Bay</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
