<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/our-story-css.ejs %>
</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <h1 id="details-title">Our Story</h1>
  </div>
  <div class="container">
    <div class="col-md-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">More Than Coffee Was Brewing...</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <div class="aligner">
        <div class="aligner-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513885289/19955968_10211289959578281_697706757202493947_o_bvjern.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">More Than Coffee Was Brewing...</h1>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
