<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/our-story-css.ejs %>
</head>

<body>

<div class="wedding-background-lights text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <h1 id="story-title">Our Story</h1>
  </div>
  <div class="container our-story-container">
    <div class="col-sm-6 item-1">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513916388/ct-ap-combined_kxq1ik.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">More Than Coffee Brewing...</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 item-2">
      <div class="aligner">
        <div class="aligner-item">
          Chris Tung was born on November 28th, 1989, and Alicia Prodromou was born on November 10th, 1988. They met while attending UC Davis where they both worked at the Coffee House. Alicia worked in the espresso bar, and Chris was one of the supervisors. Always friends, Chris hoped for something more and one of his favorite morning routines was making excuses to help out in the espresso bar to hang out with Alicia. It wouldn't be until after they both graduated where his long game paid off...
        </div>
      </div>
    </div>
  </div>
  <div class="container our-story-container">
    <div class="col-sm-6 item-4">
      <div class="aligner">
        <div class="aligner-item">
          After graduation, Alicia moved to San Francisco while Chris headed to New York.
          Chris made a trip out to California in July 2012 where a mutual friend brought Alicia and Chris together at 15 Romolo.
          After catching up that night, the two continued to talk, and over the course of many gchats, FB messengers, and texts, their love began to blossom.
          They bounced back and forth between the two coasts for almost a year until the two decided they needed to be in the same place to give this a real chance.
          Alicia took the jump and made the move to New York...
        </div>
      </div>
    </div>
    <div class="col-sm-6 item-3">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/c_crop,w_570/v1513912264/IMG_50A760992107-1_ra9lhf.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Like & Long Distance</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container our-story-container">
    <div class="col-sm-6 item-5">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/a_auto_right/v1514039332/IMG_1789_rpptah.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">New York, I Love You</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 item-6">
      <div class="aligner">
        <div class="aligner-item">
          And in the city that never sleeps, the two fell in love.
        </div>
      </div>
    </div>
  </div>
  <div class="container our-story-container">
    <div class="col-sm-6 item-8">
      <div class="aligner">
        <div class="aligner-item">
          And once they no longer needed to travel between SF and NYC to see one another, they discovered they loved to eat and travel together.
          Harry Potter World, New Orleans, Iceland, London, Amsterdam, Rome, Scotland, and so many more, the two grew more in love with each new adventure (and delicious meal).
        </div>
      </div>
    </div>
    <div class="col-sm-6 item-7">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/a_0/v1513914464/IMG_4104_bwwcu0.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Our Other Loves: Travel & Food</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container our-story-container">
    <div class="col-sm-6 item-9">
      <div class="our-story-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="images/engagement/0_Prodromou_engaged-73.jpg">
        </div>
        <div id="title-container">
          <h1 id="wedding-title">Engaged in the Bay</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 item-10">
      <div class="aligner">
        <div class="aligner-item">
          After two years in New York together, Chris and Alicia moved back to the Bay Area to start the next chapter of their life, and on July 1st, 2017, Chris proposed to Alicia in the home they built together.
          And, now they're looking forward to being wed on August 11th, 2018 surrounded by their friends and family.
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>

</div>
</body>
</html>
