<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/our-story-css.ejs %>
</head>

<body>
<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <h1 id="story-title">Photos</h1>
  </div>
</div>




</body>
</html>
