<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/photos-css.ejs %>
</head>

<body>
<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="">
      <h1 id="photos-title">Our Photos</h1>
      <!--h2 class="subhead">
        &quot;After all this time?&quot; &quot;Always.&quot;
      </h2-->
  </div>
  <div class="container photos-container">
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item" src="/shane.jpg">
            <div class="photos-title-container">
              <h1 class="photos-item-title">We dress up nice</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item " src="/brooklyn-bridge-rotated.jpg" >
        </div>
        <div class="photos-title-container">
          <h1 class="photos-item-title">Brooklyn Bridge</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item" src="/rome-rotated.jpg">
            <div class="photos-title-container">
              <h1 class="photos-item-title">Pizza Pasta Party</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item" src="/scotland-0.jpg">
            <div class="photos-title-container">
              <h1 class="photos-item-title">Great Scott!</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item" src="/scotland.jpg">
            <div class="photos-title-container">
              <h1 class="photos-item-title">Scotland</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item " src="/scuba-rotated.jpg">
            <div class="photos-title-container">
              <h1 class="photos-item-title">Right before Chris almost drowned</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item " src="/stonehenge-rotated.jpg" >
            <div class="photos-title-container">
              <h1 class="photos-item-title">Stonehenge</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item " src="/tower-london-rotated.jpg" >
            <div class="photos-title-container">
              <h1 class="photos-item-title">Tower London</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item" src="/london.jpg">
        </div>
        <div class="photos-title-container">
          <h1 class="photos-item-title">You sound like you're from London!</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item " src="/train-rotated.jpg" >
            <div class="photos-title-container">
              <h1 class="photos-item-title">Train-ing Day</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image">
            <img class="cover-image-item " src="/york-rotated.jpg" >
            <div class="photos-title-container">
              <h1 class="photos-item-title">Best Kit Kats in the world in York</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div class="photos-cover-image" style=" background: #FFF;">
            <img class="cover-image-item " src="/last-day-in-nyc-rotated.jpg">
        </div>
        <div class="photos-title-container">
          <h1 class="photos-item-title">Last day in New York!</h1>
        </div>
      </div>
    </div>
  </div>
    <% include ../partials/footer.ejs %>
</div>



</body>
</html>
