<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/photos-css.ejs %>
</head>

<body>
<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="">
      <h1 id="photos-title">Our Photos</h1>
      <!--h2 class="subhead">
        &quot;After all this time?&quot; &quot;Always.&quot;
      </h2-->
  </div>
  <div class="container photos-container">
    <% for (var i = 0; i < imagesArray.length; i++) { %>
      <div class="col-sm-4">
        <div class="photos-image-container">
          <div class="photos-cover-image">
              <img class="cover-image-item" src="images/engagement/<%= imagesArray[i] %>">
          </div>
        </div>
      </div>
     <% } %>
  </div>
    <% include ../partials/footer.ejs %>
</div>



</body>
</html>
