<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/photos-css.ejs %>
</head>

<body>
<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="photos-container">
      <h1 id="photos-title">Photos</h1>
  </div>
  <div class="container photos-container">
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513916388/ct-ap-combined_kxq1ik.jpg">
        </div>
        <div id="title-container">
          <h1 class="photos-item-title">More Than Coffee Brewing...</h1>
          <div class="photos-item-date">1.1.16</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513916388/ct-ap-combined_kxq1ik.jpg">
        </div>
        <div id="title-container">
          <h1 class="photos-item-title">More Than Coffee Brewing...</h1>
          <div class="photos-item-date">1.1.16</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513916388/ct-ap-combined_kxq1ik.jpg">
        </div>
        <div id="title-container">
          <h1 class="photos-item-title">More Than Coffee Brewing...</h1>
          <div class="photos-item-date">1.1.16</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container photos-container">
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513916388/ct-ap-combined_kxq1ik.jpg">
        </div>
        <div id="title-container">
          <h1 class="photos-item-title">More Than Coffee Brewing...</h1>
          <div class="photos-item-date">1.1.16</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513916388/ct-ap-combined_kxq1ik.jpg">
        </div>
        <div id="title-container">
          <h1 class="photos-item-title">More Than Coffee Brewing...</h1>
          <div class="photos-item-date">1.1.16</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="photos-image-container">
        <div id="cover-image">
            <img class="cover-image-item" src="http://res.cloudinary.com/huttle/image/upload/v1513916388/ct-ap-combined_kxq1ik.jpg">
        </div>
        <div id="title-container">
          <h1 class="photos-item-title">More Than Coffee Brewing...</h1>
          <div class="photos-item-date">1.1.16</div>
        </div>
      </div>
    </div>
  </div>
    <% include ../partials/footer.ejs %>
</div>



</body>
</html>
