<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/css.ejs %>
  <% include ../partials/details-css.ejs %>
</head>

<body>

<div class="jumbotron wedding-background text-center"></div>
<div id="main-container">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="cover-image-container">
      <h1 id="details-title">RSVP</h1>
    </div>
    <div class="form-container">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScEn3jPtRMn4vuWyE8Wbl3SlKfBDpD5HQNymYMt_ZLdf1-vcg/viewform?embedded=true" width="95%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    <% include ../partials/footer.ejs %>

</div>
</body>
</html>
